.header{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid black;
}
.logo img{
    width:100px;
}
.nav-items ul{
    display:flex;

}
.nav-items li{
    list-style-type:none;
    padding:10px;
    margin:10px;
}
.nav-items li a{
   text-decoration: none;
   font-size:20px;
}
.searchBar{
    padding:10px;
}
.filter{
    display:flex;

}
.searchBar input,.searchBar button{
    padding:10px;
    background-color:#c2c2c2; 
    border: 0;
}
.restroCards{
    padding:10px;
    display: flex;
    flex-wrap:wrap;
    gap:10px;
}
.restroCard{
    background-color:#f9f9f9;
    border:1px solid black;
    padding:5px;
    width:300px;
}
.res-logo img{
    width:100%;
}
.filter-btn{
    padding:10px;
    margin:10px;
    background-color:#c2c2c2; 
    border: 0;
}
.shimmer-container{
    display: flex;
}
.shimmer-card{
    width:300px;
    height:300px;
    background-color: #f9f9f9;
    margin:10px;
}
.login-btn{
    background-color: transparent;
    color:blue;
    cursor: pointer;
    padding:10px;
    border:0;
}
.login-btn:hover{
    background-color: #f9f9f9;
}